name: Deployment Exercise 1
on:
  push:
    branches:
      - main
jobs:
  upload-artifact:
    runs-on: ubuntu-latest
    outputs:
      file-names: ${{ steps.publish_new.outputs.file-names }}
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Build code
        run: npm run build
      - name: publish output
        id: publish_new
        run: find dist/**/*.js -type f -execdir echo "filename={}" ';'
      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: dist-folder
          path: dist
  download-artifact:
    runs-on: ubuntu-latest
    needs: upload-artifact
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-folder
      - name: Verify artifact contents
        run: ls -la