name: Code Build Test Deploy
on: push
jobs:
    lnt:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Install dependencies
              run: |
                    npm install
                    npm run lint
    test:        
        runs-on: ubuntu-latest
        needs: lnt
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Run tests
              run: |
                    npm install
                    npm run test
    build:    
        runs-on: ubuntu-latest
        needs: [lnt, test]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Build project
              run: |
                    npm install
                    npm run build