name: output
on: workflow_dispatch
jobs:
    info:
        runs-on: ubuntu-latest
        steps:
            - name: Output workflow run info
              run: echo "${{ github.event.workflow_run }}"